Table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.hide-table {
  display: none;
}
td {
  word-break: break-all;
  width: 10%;
  text-align: center;
}
.my-modal {
  width: 70vw; /* Occupy the 90% of the screen width */
  max-width: 80vw;
}
.link:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
}
